/*font stuff:*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  cursor:none;
  color:white;
  background:black;
  user-select:none;
	font-family: 'IBM Plex Sans', sans-serif;
	text-align: center;
	box-sizing: border-box;
}
html {
  overflow:hidden;
  height: 100%;
  width: 100%;
}
body{
  transform: rotate(90deg) translateX(-100px);
}
#overlayTwo{
  background:black;
  top:1890px;
  width:10050px;
  height:400px;
  position:fixed
}
h1{
  z-index:1000;
  transform: translateY(-180px);
  font-size:250px;
}
@keyframes anim{
  0% {
    left:0px;
  }
  100% {
    right:0px;
  }
}
.clock{
  animation: anim 4s infinite ease;
}
h4{
  position:fixed;
  bottom:15px;
  right:15px;
}
